/* formattazzioni  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: lightgrey;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
#immagini {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#descrizione {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}
#stelle {
  display: flex;
  justify-content: center;
  align-items: center;
}
#stelle p {
  margin-left: 10px;
}
